.app {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}


/* Ensure the root containers span the entire viewport */
html, body, #root, .app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent inner scrollbars */
  box-sizing: border-box;
}
